:root {

    /*COLORES*/
    --color-primario: #0D8267;
    --color-secundario: #F06A38;
    --color-terciario: #25D366;
    --color-neutro: #1E293B;
    --color-fondo: #F8F9FA;

    /*TIPOGRAFIAS*/
    --fuente-titulos: 'Plus Jakarta Sans', sans-serif;
    --fuente-textos: 'Inter', sans-serif;
}

/*INDEX*/









/*SERVICIOS*/

/*CATALOGO*/

/*NOSOTROS*/


/*CARRITO*/

